[Desktop Entry]
Name=Consolinno Alpha Innotec Wizard
Comment=A client application for the Consolinno KNW system
Icon=consolinno-energy
Terminal=false
Type=Application
Exec=AlphaInnotecConnectionWizard
Categories=Network;
